<div id="example1">
    <h1> Add Item</h1>
    <form action="itemadd" method="post" modelAttribute="item">
     <table>
     <tr>
     <td>Item Id</td>
     <td><input path="Id" required="true"/></td>
     </tr>
     <tr>
     <td>item name</td>
     <td><input path="name" required="true"/></td>
     </tr>
     <tr>
     <td>Item batchNumber</td>
     <td><input path="batchNumber" required="true"/></td>
     </tr> 
    <tr>
     <td>Locker Id:</td>
     <td><input name="lid" required="true"/></td>
     </tr> 
     
     <tr>
     <td><input type="submit" value="Add Item"/></td>
     </tr>
     </table>
    </form>

    </div>

    