<table>
    
    
    
    <tr>
<td>LockerLogId</td>
        <td><input type="text" [(ngModel)] = "model.id"/></td>
    </tr>
    <tr>
        <td>LockerId</td>
        <td><input type="text" [(ngModel)] = "model.lockerId"/></td>
    </tr>
    
    <tr>
        <td>
            Locker capacity</td>
        <td><input type="text"  [(ngModel)] = "model.capacity"/></td>
    </tr>
    <tr>
        <td>LockerLog Requester name</td>
        <td><input type="text"  [(ngModel)] = "model.requester"/></td>
    </tr>
    <tr>
        <td>LockerLog Description</td>
        <td><input type="text"  [(ngModel)] = "model.description"/></td>
    </tr>
    <tr>
        <td>date</td>
        <td><input type="text"  [(ngModel)] = "model.date"/></td>
    </tr>


    <tr>
            <td>ItemId</td>
            <td><input type="text" [(ngModel)] = "model.Id"/></td>
        </tr>


        <tr>
                <td>Itemname</td>
                <td><input type="text" [(ngModel)] = "model.name"/></td>
            </tr>
     <tr>
           <td>Item batchnumber</td>
             <td><input type="text" [(ngModel)] = "model.batchNumber"/></td>
         </tr>

    <tr>
    <td><input type="button" value="Add Locker" (click) = "addlockerlog()"/></td>
    </tr>
    </table>